# https://id.atlassian.com/manage-profile/security/api-tokens
JIRA_BASE_URL=https://fariaedu.atlassian.net
JIRA_EMAIL=your-email@example.com
JIRA_API_TOKEN=your-api-token

# https://github.com/settings/personal-access-tokens
GITHUB_TOKEN=your-github-token

# https://one.newrelic.com/admin-portal/api-keys/home?account=3331950
NEWRELIC_ACCOUNT_ID=3331950
NEWRELIC_API_KEY=your-newrelic-api-key